DATABASE_URL=postgresql://neondb_owner:npg_rFcqaJ8AtI3m@ep-crimson-moon-ayvjdjpg-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=replace_with_a_long_random_string
PORT=5000
CLIENT_URL=http://localhost:3000
